body{

    background-color: azure;
    text-align: center;
}

h1{
    font-family: papyrus, Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    margin: 0 auto 0 auto;
    position: relative;
    top: 200px;
    color: blueviolet;
    
}

.smountain{
    position: absolute;
    left: 400px;
    top: 250px;


}

.Cc1{
    position: absolute;
    right: 300px;
    top: 100px;
}

.bmountain{
    position: relative;
    top: 220px;
}

.paraone{
    position: relative;
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    color: brown;
}
